/*General setting*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a{
    text-decoration: none;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4.5rem;
    padding: 4rem;
}

/*Barra del menu*/

.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-inline: 1rem;
    background-color: white;
}

.main-menu{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 12px;
}

.logo img{
    width: 90px;
}

.main-menu li{
    list-style: none;
}

.btn-blue{
    background-color: rgb(12, 103, 249);
    padding: 0.5rem 1.5rem;
    color: white;
}

.menu-item{
    color: black;
}

/* header - testo e immagine di presentazione*/

.container-bg{
    width: 100%;
    background-color: rgb(180, 209, 224);
}

.main-intro{
    width: 70%;
    margin: auto;
    margin-top: 4rem;
}

.text-img{
    display: flex;
    gap: 1rem;
}

.jumbo img{
    width: 100%;
}

.text-img .text{
    flex: 0 0 30%;
    padding: 1rem, 0.5rem;
}

.text-img .jumbo{
    flex: 0 0 70%;
    margin-bottom: -5rem;
}

.text p{
    font-size: 12px;
    margin-left: 4rem;
    padding: 1rem, 0.5rem;
}

.text-info{
    margin-top: 3rem;
}

.btn{
    margin-top: 3rem;
    margin-left: 4rem;
}

.btn-prova{
    background-color: rgb(12, 103, 249);
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.arrow-down{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3.5rem;
    margin-top: 5rem;
    color: black;
}
